* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body {
    font-family: "Poppins" sans-serif;
}

:root {

}

.nav-container {
    background-color: #38AF90;
    height: 90px;
    width: 100%;
    display: flex;
    padding: 0 10px;
}

.nav-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
}

.container {
    width: 100%;
    max-width: 990px;
    margin: 0 auto;

}

.nav-list-container {
    display: flex;
    align-items: center;
}

.nav-list-container li {
    margin-right: 30px;
}

.nav-main a {
    color: #fff;
    text-decoration: none;
    line-height: 36px;
    font-weight: 700;
}

.nav-brand {
    font-size: 18px;
    font-weight: bold;
}

.menu-items {
    display: flex;
    list-style-type: none;
    align-items: center;
}


@media screen and (max-width:320px) {

    .nav-list-container {
        display: none;
    }

}